<h1>Editing departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%= link_to "Mostrar este departamento", @departamento, class:"btn btn-default" %> |
  <%= link_to "Voltar para departamentos", departamentos_path, class:"btn btn-default" %>
</div>
